body{
    margin :0;
    background: #222;
    font-family :system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh; 
    place-items: center;
}

.App{
    display : flex;
    flex-direction: column;
    gap : 8px;

    background: #000;
    border: 1px solid #2f3336;
    border-radius: 16px;

    padding: 16px;
    width: 360px;
}
